.container{
    background-color: rgb(117, 189, 240);
    height: 95%;
    width: 100%;
}

/*CSS on the header with 100% width and 5% height font verdana, size 600, bold, backroud=-color light blue*/
.header {
    width: 100%;
    height: 5%;
    background-color: lightblue;
}
.mat-card{
    width: 95%;
    color: #25021e;

}
/*CSS to patient-card class wirh width 100% margin-top/bottom 10px*/
.patient-card {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(238, 235, 231);
    padding-bottom: 10px;

    
}

.header-title{
    font-size: 20px;
}

.icon{
    align-items: end;
}