<app-toolbar></app-toolbar>
<div class="header">
    <h3>Patient Profile</h3>
</div>
<div class="content">
    <p>Id: &nbsp;{{patient.id}}</p>
    <p>Name: &nbsp;{{patient.name}}</p>
    <p>Age: &nbsp; {{patient.age}}</p>
    <p>Gender: &nbsp; {{patient.gender}}</p>
    <p >Blood Group: &nbsp; <a style="color: red;"> {{patient.bloodGroup}}</a></p>
    <p>Contact Number: &nbsp; {{patient.contactNumber}}</p>
    <p>Email: &nbsp; {{patient.email}}</p>
    <p>Address: &nbsp; {{patient.address}}</p>
    <p>Description: &nbsp; {{patient.description}}</p>
</div>
