.header{
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-top:100px;
  
}
.container{
  background-color: rgb(117, 189, 240);
  height: 95%;
  width: 100%;
}

button{
  height: 100%;
  width:35%;
  font-size: larger;
  margin: auto;
 
}
.button{
  align-items: center;
  margin-top: 300px;
}
